// colors
$green: #107C3E;
$greenTR: rgba(16, 124, 62, 0.5);
$greenBB: #9EC552;

$greenL: #9EC552;
$yell: #F2E40F;
$grey: #E6D9C9;
$red: #FE0000;
$white: #fff;
$whiteTr: rgba(255, 255, 255, 0.7);
$dGrey: #202020;
$dGrey2: #484542;
$dGrey3: #6E6E6E;
$tr: transparent;
$bgGradient: linear-gradient(to bottom,  $grey 0%, $grey 50%, $white 50%, $white 100%);
$bgGradient2: linear-gradient(to bottom,  $grey 0%, $grey 58%, $white 58%, $white 100%);



